* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Container */
.container {
  max-width: 550px;
  margin: auto;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(to right, #672280, #A626D3);
  color: white;
  padding: 0 2rem;
}

.header--logo {
  display: flex;
  margin-right: auto;
}

.header--logo-img {
  width: 30px;
  margin-right: 10px;
}

.header--subtitle-tag {
  opacity: .5;
}

/* Form */
.meme--form {
  max-width: 450px;
  margin: 2rem auto;
}

.meme--form-input {
  width: 48%;
  padding: .5rem;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  color: #0D0D0D;
}

.meme--form-input:first-child {
  margin-right: 18px;
}

.meme--form-btn {
  width: 100%;
  background: linear-gradient(to right, #672280, #A626D3);
  color: white;
  font-weight: bold;
  padding: .8rem 0;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
}